b {
    color: #27ae60;
}

.content {
    float: left;
    max-width: 1280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    .content h1, h3 {
        margin-bottom: 10px;
    }

#link-box {
}

i {
    color: #000;
    transition-duration: 0.3s;
}

    i:hover {
        color: #7f8c8d;
    }

a b:hover {
    opacity: 0.7;
}
