@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "About";
}

@section stylesheets {
    <link href="~/css/about.css" rel="stylesheet" />
}
<div id="page-ID" name="about"></div>

<div class="content">
    <div class="content-text">
        <h1>About Me</h1>
        <div class="underline"></div>
        <p>
            I am full-stack developer, both able to code back-end aswell as front-end.
            I often code in C# on the back-end side and I have some knownledge about SQL and database structuring. 
            Front-end side, I usually code HTML5, CSS3 and some JavaScript.
            During my time (2 years) of programming I have been pair-programming with different classmates. 
            I have used git since I started coding to sync and work togheter with small teams.
            The git client I am most familiar with is Github.
        </p>
    </div>

    <div class="content-text">
        <h1>Skills</h1>

        <div class="underline"></div>

        <table>
            <tbody>
                <tr>
                    <td class="skills">HTML5</td>
                    <td style="color: #27ae60">80%</td>
                </tr>
                <tr>
                    <td class="skills">CSS3</td>
                    <td style="color: #27ae60">80%</td>
                </tr>
                <tr>
                    <td class="skills">JavaScript</td>
                    <td style="color: #f1c40f">60%</td>
                </tr>
                <tr>
                    <td class="skills">C#</td>
                    <td style="color: #f1c40f">50%</td>
                </tr>
                <tr>
                    <td class="skills">Dancing</td>
                    <td style="color: #e74c3c">0,2%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>