@{
    Layout = "../Shared/_Layout.cshtml";
}

@section stylesheets {
    <link href="~/CSS/about.css" rel="stylesheet" />
}
<div id="page-ID" name="about"></div>

<div class="content">
    <div class="content-text">
        <h1>About Me</h1>
        <div class="underline"></div>
        <p>
            I'm a software developer from Sweden, with a growing interest in programming.
            I started coding in mid-2014 with Ruby, HTMML5 and CSS3. Today I mainly code C#, HTML, CSS3 and JavaScript.
            You can see me as an all around person, both able to code back-end aswell as front-end.
        </p>
    </div>

    <div class="content-text">
        <h1>Skills</h1>

        <div class="underline"></div>
        <table>
            <tbody>
                <tr>
                    <td>HTML</td>
                    <td style="color: #27ae60">80%</td>
                </tr>
                <tr>
                    <td>CSS</td>
                    <td style="color: #27ae60">80%</td>
                </tr>
                <tr>
                    <td>JavaScript</td>
                    <td style="color: #f1c40f">50%</td>
                </tr>
                <tr>
                    <td>C#</td>
                    <td style="color: #f1c40f">40%</td>
                </tr>
                <tr>
                    <td>Dancing</td>
                    <td style="color: #e74c3c">0,2%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>