@{ 
    Layout = "../Shared/_Layout.cshtml";
}

@section stylesheets {
    <link href="~/css/contact.css" rel="stylesheet" />
    }

<div id="page-ID" name="contact"></div>

<div class="content">
    <h1>
        <span>Contact</span>
    </h1>
    <h3>
        <span>Phone: <a href="tel:+46768481997"><b>+46 76 848 1997</b></a></span>
        <br />
        <span>E-mail: <a href="mailto:felix.wetell@gmail.com"><b>felix.wetell@gmail.com</b></a></span>
    </h3>
    <div id="link-box">
        <a href="https://github.com/felixwetell" style="margin-right: 5px;"><i class="fa fa-4x fa-github-square" aria-hidden="true" ></i></a>
        <a href="https://se.linkedin.com/in/felix-wetell"><i class="fa fa-4x fa-linkedin-square" aria-hidden="true"></i></a>
    </div>
</div>
