
@{
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Projects";
}

@section stylesheets {
    <link href="~/css/projects.css" rel="stylesheet" />
}

<div id="page-ID" name="projects"></div>

<div class="content">
    
    <p>(under construction..)</p>

    @*<div class="card">

    </div>*@
</div>