.content-text {
    padding: 20px;
}

@media (min-width: 500px) {
    .content {
        width: 500px;
        margin: 0 auto;
    }
}

@media (min-width: 1000px) and (min-height: 750px) {
    .content {
        margin-right: 50%;
        bottom: -50%;
        transform: translate(50%, 50%);
    }

    .content-text {
        max-width: 460px;
    }
}

.underline {
    width: 25px;
    background-color: #27ae60;
    margin-bottom: 10px;
}

table {
    font-weight: bold;
    border-spacing: 10px;
}
